<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="https://healthelife.healtheintent.com/healthelife_sdk.js"></script>
    <link rel="stylesheet" type="text/css" href="{{stylesheet}}">
</head>
<body>
    <script type="text/javascript">
        window.addEventListener('load', function () {
        $HL.App.init({acls: ["https://chc2019-pageletclass.patientportal.us.healtheintent.com"]});
    });
    </script>
    <h1>Immunizations</h1>
    <table>
        <tr>
            <th>Vaccine</th>
            <th>Date</th>
        </tr>
    {% for imm in immunizations %}
        <tr>
            <td>{{ imm.vaccine }}</td>
            <td>{{ imm.date.strftime('%Y-%m-%d') }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>