<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{stylesheet}}" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>

<body>
    <div class="card">
        <div class="header">
            <h1>Procedures</h1>
        </div>
        <div class="content">
            <ul class="procedures">
            {% for pro in procedures %}
                <li class="procedure">
                    <p class="name">{{ pro.name }}</p>
                    <p class="date">{{ pro.date | date }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer">
            <a class="button" href="">See All</a>
        </div>
    </div>
</body>
</html>
